<div class="cart-item-container">
  <div class="item__details">
    <div class="item__img me-2">
      <img class="img-fluid" [src]="product.img_url" alt="Product" />
    </div>
    <div class="item__info">
      <span class="item__name">{{ product.item_name }}</span>
      <span class="item__description">{{ product.short_description }}</span>
    </div>
  </div>

  <div class="item__quantity">
    <div class="item__increment">
      <button
        class="item-button mx-1"
        type="button"
        (click)="onRemoveProduct()"
      >
        <span class="material-symbols-outlined"> remove </span>
      </button>
      <span class="mx-1">{{ product.quantity }}</span>
      <button class="item-button mx-1" type="button" (click)="onAddProduct()">
        <span class="material-symbols-outlined"> add </span>
      </button>
    </div>

    <div class="item__total ms-1">
      <span>{{ total | currency : "MXN" : "symbol-narrow" }}</span>
      <button class="item-button" type="button" (click)="onDeleteProduct()">
        <span class="material-symbols-outlined"> delete </span>
      </button>
    </div>
  </div>
</div>
